<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <mvc:annotation-driven/>

    <context:component-scan base-package="com.teamRocket"/>

    <mvc:default-servlet-handler/>
    <!--<mvc:resources mapping="styles/**" location="styles"/>-->
    <!--<mvc:resources mapping="images/**" location="images"/>-->
    <!--<mvc:resources mapping="BS/**" location="BS"/>-->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".html"/>
    </bean>

    <context:property-placeholder location="classpath:db.properties"/>

    <!-- c3p0数据源 -->
    <bean
            id="dataSource"
            class="com.mchange.v2.c3p0.ComboPooledDataSource">

        <property name="driverClass" value="${driver}"/>
        <property name="jdbcUrl" value="${url}"/>
        <property name="user" value="root"/>
        <property name="password" value="123456"/>
    </bean>

    <!-- 数据库连接得工厂对象, 用于管理数据库连接 -->
    <bean
            id="sessionFactory"
            class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations"
                  value="classpath*:mapper/*.xml"/>
    </bean>

    <!-- 定义mybatis中的mapper代理接口的扫描规则 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.lanou.mapper"/>
        <property name="sqlSessionFactoryBeanName"
                  value="sessionFactory"/>
    </bean>

    <!-- 配置事务 -->
    <bean
            id="transactionManager"
            class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 配置事务属性通知 -->
    <tx:advice
            id="txAdvice"
            transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <!-- 配置aop -->
    <aop:config>
        <aop:pointcut id="pointcut"
                      expression="execution(* com.teamRocket.service.*.*(..))"/>

        <aop:advisor advice-ref="txAdvice"
                     pointcut-ref="pointcut"/>

    </aop:config>

    <!-- 配置拦截器 -->
    <!--<mvc:interceptors>
        &lt;!&ndash; 拦截器执行的顺序依照下面的加入顺序执行 &ndash;&gt;
        <mvc:interceptor>

        <mvc:mapping path="/**"/>

        <mvc:exclude-mapping path="/BS/**"/>
        <mvc:exclude-mapping path="/images/**"/>
        <mvc:exclude-mapping path="/styles/**"/>
        <mvc:exclude-mapping path="/w2ui-1.5.rc1/**"/>
        &lt;!&ndash; 拦截器对应的类路径 &ndash;&gt;
        <bean class="com.lanou.interceptor.LoginInterceptor"/>
    </mvc:interceptor>
    </mvc:interceptors>-->

</beans>